

$main-border-radius: 0.5625rem;
$secondary-border-radius: 2px;


$main-title-color: #2B283A;
$main-txt-color: #2B283A;
$secondary-txt-color: #918E9B;
$white: #ffffff;
$accent-color: #F55A5A;

$xs: 567px;
$sm: 768px;
$md: 992px;
$lg: 1200px;